.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

.App-content {
  display: flex;
  justify-content: center;
}

.App-routes {
  width: 80%;
}

h4 {
  font-style: italic;
}

input {
  margin: 10px;
  padding: 2px;
}

.container {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.containerLarge {
  display: flex;
  justify-content: center;
}